
.Row {
  display: flex;
	justify-content:space-between;
  vertical-align: auto;
  line-height: 100px;

}

.Text-input {
  font-size: 25px;
  margin-top: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

.Line {
  display: inline-flex;
}

.Image-button {
	display: flex;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
  top: 50%;
  padding-top: 25px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffff;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Delete-icon {
  background: url("https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png");  
}

.Hide {
  display: none;
}

.List {
  width: 80%;
  padding-left: 10%;
}